#container
{
    width: 750px;
    height: 750px;
    max-width: 750px;
    max-height: 750px;
    border: 1px black solid;

    display: flex;
    flex-wrap: wrap;
}

.pixel
{
    border: 1px black solid;
}

#sidebar
{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#main-body
{
    display: flex;
    justify-content: center;
    gap: 25%;
}

h1
{
    text-align: center;
    margin-bottom: 50px;
}

.selected
{
    background-color: yellowgreen;
}